@import './../../../scss/calendar.properties.scss';
@import './../../../scss/mixins/flex.mixin.scss';

.calendar__body {
    @include direction-column();
    gap: $calendar-cell-gap;
}

.calendar__body-header {
    @include direction-row();
    gap: $calendar-cell-gap;

    .calendar__body-header__day {
        width: $calendar-cell-width;
        height: calc($calendar-cell-height / 2);
        line-height: calc($calendar-cell-height / 2);
        background-color: #3229a8;
        color: #fff;
        box-shadow: 0px 0px 8px #3129a8a6;
        border-radius: 10px;
        text-align: center;
        text-transform: uppercase;
        font-family: Arial, Helvetica, sans-serif;
    }
}

.calendar__body-content {
    height: calc(($calendar-cell-height * 6) + ($calendar-cell-gap * 5));
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
    gap: $calendar-cell-gap;
}